:root{
    --background: #F7F9F9;
    --main-title: #1E2019;
    --blue: #4BB3FD;
    --grey: #BDC3C7;
    --yellow: #FFE800;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.screen-view {
  background-color: var(--background);
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 60px 0; 
}

h2 {
  font-size: 3rem;
  font-weight: 200;
  margin: 0;
  color: var(--main-title);
}

.title-icon {
  color: var(--grey);
}

h5 {
  font-weight: 300;
  letter-spacing: .2px;
  margin: 20px;
}

#navbar {
  background: #373B44;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#navbar a {
  color: var(--background);
}

#navbar a:hover {
  color: var(--yellow);
}

#navbar h3 {
  color: var(--background);
}

.action-button:hover {
  opacity: .7;
}

.App-link, a {
  color: #F5B041;
}

a {
  text-decoration: none;
}

a:hover {
  color: #99E5FF;
}

button {
  cursor: pointer;
}

button, textarea, input {
  border: none;
}

button:focus { 
  outline: none; 
}

button:hover {
  opacity: .7;
}


header p {
  font-size: 20px;
  text-align: left;
  line-height: 1.5em;
  color: #1C2833;
}

textarea {
  background-color: #F4F6F7;
  color: black;
}

#content {
  background-color: white;
  padding: 2em;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 6px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 4px 6px -4px rgba(0,0,0,0.75);
  box-shadow: 4px 4px 6px -4px rgba(0,0,0,0.75);
}

#content input {
  background: grey;
  padding: 6px;
}

.number {
  color: #282c34;
  margin-right: 15px;
  font-size: 25px;
  border-radius: 50%;
  border: 2px solid #282c34;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
  

/* SPINNER */
@keyframes spinner {
  to {transform: rotate(360deg);}
}
 
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #000;
  animation: spinner .6s linear infinite;
}